h1 {
  margin: 10px 10px 10px 10px;
}

.drop-area {
  padding: 20px;
  margin: 10px 10px 10px 10px;
  border: solid;
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
}

.drop-area input {
  display: none;
}

.drop-area p {
  margin: 0;
  text-align: center;
}

.gray {
  background-color: #808080;
}

.file-preview {
  display: block;
  width: 50%;
  margin-bottom: 20px;
}
